/* You can customize theme styles here */
.header .navbar-brand span:first-child{
    color: #478079;
}

html body ::selection{
    background-color:#488079;color:#fff
}

.profile-image img{
    max-inline-size: 100%;
    block-size: auto;
}

.profile-image img{
    margin-top: 40px;
}

.rad-showcase__bg img{
    margin-top: 0;
    margin-left: 100px;
    max-width: 100%;
}
@media only screen and (min-width : 768px) {
    .rad-showcase__bg img{
        height: 400px;
    }
}

.header .navbar-brand{
    flex-direction: row;
}

.header .navbar-brand span{
    display: inline;
}

.header .navbar-brand span:nth-child(2){
    font-family: inherit;
    margin-top: 0;
}

#breadcrumb-bar{
    position: relative;
    padding-top: 120px;
}

ul.breadcrumbs{
    display: inline;
    padding-left: 0;
}
ul.breadcrumbs li:not(:last-child):after{
    content: ">";
    margin-left: 10px;
    margin-right: 10px;
}
ul.breadcrumbs li{
    display: inline;
}

.book-category{
    font-size: 1.5em;
    padding-bottom: .3em;
    border-bottom: 1px solid rgb(200, 200, 200);
    width: 100%;
}
.book-category-anchor .icon{
    font-size: 12px
}
ul.book-category-content{
    padding-left: 0;
}
.book-card a.goodreads{
    float: right;
}
.goodreads-search{
    margin-left: 64px;
    width: 16px;
}
.book-content{
    width: 100%;
}

.book-content h5,
.book-content h6{
    display: inline;
    font-weight: 300;
}
.book-content h5{
    margin-right: 2px;
}
.book-content .goodreads-link{
    float: right;
}

#books .row{
    margin: 0;
}

ul.book-category-content {
    list-style: none;
}
.book-content.featured::before {
    content: "\2605"; /* Unicode bullet symbol */
    color: #478079;  /* Bullet color */
	/* Optional tweaks */
    font-weight: bold;
    padding-right: 10px;
    background-color: transparent;
    top: 4px;
    left: -5px;
}


.about__profile-picture img{
    object-fit: contain;
}

.experience__company{
    color: #478079;
}

.experience__location{
    font-weight: normal;
}

.experience+.experience{
    padding-top: 0;
}

body.home div.experience{
    padding-top: 50px;
}

.experience a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: inherit;
}

.experience.selected a,
.experience:hover a,
.experience:active a,
.experience a:hover, 
.experience a:active{
    display: block;
    background-color: #488079;
}
.experience.selected a > .experience__company,
.experience:hover a > .experience__company,
.experience:active a > .experience__company,
.experience a:hover > .experience__company,
.experience a:active > .experience__company{
    color: white;
}

.all-experience-container{
    margin-top: 50px;
}
.footer__copy a{
    color: white;
}

@media only screen and (max-width : 768px) {
    .header .navbar-brand{
        margin-top: 10px;
    }
}

@media only screen and (max-width : 990px) {
    .rad-showcase__bg img{
        margin-left: 0;
    }
}