<!-- Google Tag Manager (noscript) -->
<noscript
  ><iframe
    src="https://www.googletagmanager.com/ns.html?id={{ .Site.Params.googleTagManagerID }}"
    height="0"
    width="0"
    style="display: none; visibility: hidden"
  ></iframe
></noscript>
<!-- End Google Tag Manager (noscript) -->
<header class="header fixed-top rad-animation-group" id="header">
  <div class="container rad-fade-in">
    <nav class="navbar navbar-expand-lg navbar-light p-0">
      <div class="container-fluid">
        <a class="navbar-brand mx-auto" href="{{ .Site.BaseURL | absURL }}">
          <span>{{ .Site.Params.logo.text1 }}</span>
          <span>{{ .Site.Params.logo.text2 }}</span>
        </a>
        <button
          class="navbar-toggler collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent, #header"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-lg-auto">
            <li class="nav-item">
              <a class="nav-link active" href="{{ .Site.BaseURL | absURL }}">HOME</a>
            </li>
            {{ range .Site.Menus.header }}
            <li class="nav-item">
              <a data-scroll class="nav-link" href="{{ .URL | relURL }}"
                >{{ .Name | upper }}</a
              >
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>

{{ if not .IsHome }}
{{ partial "breadcrumb.html" . }}
{{ end }}