{{ if .Site.Data.homepage.showcase.enable }}
<section class="rad-showcase rad-showcase--index rad-animation-group">
  <div class="rad-showcase__bg">
    <img
      class="lozad img-responsive rad-fade-in"
      src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
      data-src="{{ .Site.Data.homepage.showcase.image.x }}"
      data-srcset="{{ .Site.Data.homepage.showcase.image.x }} 1x, {{ .Site.Data.homepage.showcase.image._2x }} 2x"
      alt="Showcase keyboard and mouse image"
    />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-8 col-lg-7 col-xl-6">
        <h1 class="display-1 rad-fade-down">
          {{ .Site.Data.homepage.showcase.title }}
          <br />
          <span class="rad-fade-down"
            >{{ .Site.Data.homepage.showcase.subtitle }}</span
          >
        </h1>
        <p class="lead rad-fade-down">
          {{ .Site.Data.homepage.showcase.description | safeHTML }}
        </p>
        <a
          href="{{ .Site.Data.homepage.showcase.button.URL }}"
          class="btn btn-primary rad-fade-down"
        >
          <i class="{{ .Site.Data.homepage.showcase.button.icon }}"></i>
          {{ .Site.Data.homepage.showcase.button.btnText }}
        </a>
      </div>
    </div>
    <div class="row platform-links rad-fade-down">
      <div class="col-12">
        {{ range .Site.Data.homepage.showcase.socialLinks }}
        <a href="{{ .URL }}" target="_blank"
          ><i class="icon-{{ .icon }}-line rad-fade-in-long"></i
        ></a>
        {{ end }}
      </div>
    </div>
  </div>
  <div class="rad-showcase__bg rad-showcase__bg--mobile">
    <img
      class="lozad img-responsive rad-fade-in"
      src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
      data-src="{{ .Site.Data.homepage.showcase.imageMobile.x }}"
      alt="Showcase keyboard and mouse image"
    />
  </div>
</section>
{{ end }}
